body{
   font-family: 'Poppins', sans-serif;

}
h1{
   font: 50px;
}
.a{
   color: orange;
}
section{
   display: flex;
}
.half-width{
   width: 50%;
   padding-left: 5%;
}
.button{
   text-decoration:none;
   background-color: orange;
   padding:10px;
   color:white;
   border-radius:5%;
   font-weight: 700px;
}